<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Services</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
<body>

<body id="myNavBar" data-spy="scroll" data-target=".navbar" data-offset="60">
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="file:///E:/bootstrap-3.3.6-dist/ngo1.html">Reach Global Foundation</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
	  <li><a href="file:///E:/bootstrap-3.3.6-dist/ngo1.html">HOME</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="file:///E:/bootstrap-3.3.6-dist/Services.html">SERVICES</a></li>
        <li><a href="#portfolio">DONARS</a></li>
        
        <li><a href="file:///E:/bootstrap-3.3.6-dist/Contact.html">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h1><u>Our Services</u></h1>
  <br>

  <div class="row">
    <div class="col-sm-4">
		<button type=button class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-off"  class="btn btn-default btn-lg"style="color:red"></span>
      <h4>POWER</h4>
      <p>We have Power Of</p>
    </div>
    <div class="col-sm-4">
	<button type=button class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-heart" style="color:Pink"></span>
      <h4>LOVE</h4>
      <p>We share Love among People</p>
    </div>
    <div class="col-sm-4">
	<button type=button class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-lock" style="color:Black"></span>
      <h4>JOB DONE</h4>
      <p>various Job Done by Us.</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
	<button type=button class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-leaf" style="color:Green"></span>
      <h4>GREEN</h4>
      <p>We Support ...............</p>
    </div>
    <div class="col-sm-4">
	<button type=button class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-certificate" style="color:#85C1E9"></span>
      <h4>CERTIFIED</h4>
      <p>We are certified from</p>
    </div>
    <div class="col-sm-4">
	<button type=button class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-wrench" style="color:grey"></span>
      <h4>HARD WORK</h4>
      <p>WOrk done by us</p>
    </div>
  </div>
</div>




<div class="container">
  <div class="page-header">
    
  </div>
  <p class="lead"></p>
  <a href="../sticky-footer-navbar"></a> 
</div>
<!-- footer -->
<footer class="footer">
  <div class="container">
    
	<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">Help</a></li>
		<li><a href="#">Terms</a></li>
		<li><a href="#">Send Feedback</a></li>
		
  </div>
</footer>

<script src="E:\bootstrap-3.3.6\js/car.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="E:\bootstrap-3.3.6-dist\js/bootstrap.min.js"></script>

</body>
</html>